* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tableBox {
  margin: 50px auto;
}
.tableRow:nth-child(odd) {
  background-color: #5555557c;
}
.tableRow {
  display: table;
  width: 80%;
  margin: 10px auto;
  font-family: sans-serif;
  padding: 12px 0;
  color: #555;
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 03);
}
.tableCell {
  display: table-cell;
  width: 30%;
  text-align: center;
  padding: 4px 0;
  border-right: 1px solid#d6d4d4;
  vertical-align: middle;
}
.tableHead {
  background-color: #8665f7;
  box-shadow: none;
  color: white;
  font-weight: 600;
  display: table;
  width: 80%;
  margin: 10px auto;
  font-family: sans-serif;
  padding: 12px 0;
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 03);
}
.searchInpt {
  margin: 20px auto;
  /* margin: auto; */
  width: 400px;
}
.input {
  height: 30px;
  width: 100%;
}
